@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

label {
    display: block;
}


.game-start-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.current-turn-container {
    margin: 0 auto;
    text-align: center;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    padding: 4px;
    gap: 4px; 
    background-color: black; 
}

.board-cell {
    width: 100px;
    height: 100px;
    padding: 1rem;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: white; 
}

.end-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}