@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
    --background-color: #1e1e1e;
    --main-color: #eadfd5;
    --accent-color: #fe8d4c;
    --main-gradient: linear-gradient(0deg, rgba(42,35,34,1) 0%, rgba(63,46,41,1) 35%, rgba(109,102,95,1) 100%);
}

header {
    text-align: center;
}

h1 {
    margin: 0;
}

label {
    display: block;
}

body {
    margin: 0;
    color: var(--main-color);
    background: var(--main-gradient);
    height: 100vh;
}

main {
    padding: 4rem;
}

.game-start-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.current-turn-container {
    margin: 0 auto;
    text-align: center;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    padding: 2px;
    gap: 2px; 
    background-color: rgb(37, 37, 37);
    border-radius: 20px; 
    overflow: hidden;
}

.board-cell {
    width: 100px;
    height: 100px;
    padding: 1rem;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: var(--background-color);
    position: relative;
    background-size: cover;
    background-position: center;
}

.board-cell::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.board-cell:not(.filled)[data-hover-player="1"]:hover::before {
    background-image: url('../assets/images/x.svg');
    opacity: 1;
}

.board-cell:not(.filled)[data-hover-player="2"]:hover::before {
    background-image: url('../assets/images/circle.svg');
    opacity: 1;
}

.end-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}